<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AppGestion.My.MySettings.dbcensosConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=dbcensos"
            providerName="MySql.Data.MySqlClient" />
        <add name="AppGestion.My.MySettings.dbcensosConnectionString1"
            connectionString="server=localhost;user id=root;password=SQLjosan1800;persistsecurityinfo=True;database=dbcensos"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>